:root {
    --bg-color: #fbfbfb;
    --bg-color-secondary: aliceblue;
    --bg-color-highlight: white;
    --text-color: #232323;
    --success-color: #05775d;
    --error-color: #770505;
    --connected-color: #11cf0a;
    --disconnected-color: #ca0a0a;
    --border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #232323;
        --bg-color-highlight: #191919;
        --text-color: #fbfbfb;
    }
}

html,
body,
h1,
h2,
h3,
h5,
h5 {
    margin: 0;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    margin: auto;
    padding: 1rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1100px;
    font-family: monospace;
}

body>header {
    text-align: center;
    background-color: var(--bg-color-secondary);
    padding: 1rem;
    border-radius: var(--border-radius);

    #settings-container {
        display: flex;
        justify-content: end;
    }
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    overflow-y: hidden;
    position: relative;
}

@media (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
    }
}

main>section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    height: 100%;
    overflow-y: hidden;
}

main>section>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 60px;
    border-bottom: 2px solid var(--success-color);

    span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
    }
}

.item-list {
    display: grid;
    gap: 1rem;
    overflow-y: auto;
}

.list-item {
    padding: 1rem;
    border-radius: var(--border-radius);
    border: solid 1px var(--success-color);
    background-color: var(--bg-color-highlight);

    summary {
        height: 50px;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        cursor: pointer;
    }

    summary>* {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
            color: var(--success-color);
        }
    }

    summary::marker {
        display: none;
    }

    summary::-webkit-details-marker {
        display: none;
    }
}

.dir-actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    .remove-dir-btn {
        background-color: lightcoral;
    }
}

#add-dir-dialog,
#remove-dir-dialog,
#home-path-dialog {
    padding: 2rem;
    border: 1px solid var(--success-color);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    max-width: 500px;

    hgroup>h2 {
        margin-bottom: 1.5rem;
    }

    form {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    >div {
        margin-top: 1.5rem;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }
}

input {
    padding: 0.7rem;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: var(--bg-color-highlight);
}

.btn {
    padding: 8px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.btn-success {
    background-color: var(--success-color);
    color: white;
}

.btn-danger {
    background-color: var(--error-color);
    color: white;
}

.icon-btn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.connected {
    color: var(--connected-color) !important;
}

.disconnected {
    color: var(--disconnected-color) !important;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a {
        text-decoration: none;
        color: var(--success-color);
    }
}

footer>* {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}
