:root {
  --bg-color: #fbfbfb;
  --bg-color-highlight: white;
  --text-color: #232323;
  --success-color: #05775d;
  --error-color: #770505;
  --border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #232323;
    --bg-color-highlight: #171717;
    --text-color: #fbfbfb;
    --success-color: #05775d;
    --error-color: #770505;
  }
}

html,
body,
h1,
h2,
h3,
h5,
h5 {
  margin: 0;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1100px;
  font-family: monospace;
  font-size: 120%;
}

header,
footer {
  text-align: center;
}

header {
  background-color: ivory;
  padding: 2rem;
  border-radius: var(--border-radius);
}

main {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

.main-container {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-container-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: x-large;
}

#dirs-header {
  justify-content: space-between;
}

.item-list {
  display: grid;
  gap: 1rem;
}

.list-item {
  padding: 1rem;
  border-radius: var(--border-radius);
  border: solid 1px var(--success-color);
  background-color: var(--bg-color-highlight);

  summary {
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }

  summary::marker {
    display: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}

.dir-actions {
  margin-top: 1rem;
  text-align: center;

  .remove-dir-btn {
    background-color: ivory;
  }
}

.btn {
  padding: 8px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.btn-success {
  background-color: var(--success-color);
  color: white;
}
