<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Synche</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header>
      <img src="/static/logo.svg" alt="Synche logo" width="240px" />
    </header>

    <main>
      <div class="main-container" id="devices-container">
        <div class="main-container-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-pc-case-icon lucide-pc-case"
          >
            <rect width="14" height="20" x="5" y="2" rx="2" />
            <path d="M15 14h.01" />
            <path d="M9 6h6" />
            <path d="M9 10h6" />
          </svg>
          <u>Devices</u>
        </div>

        <div class="item-list" id="peer-list">
          <details class="list-item">
            <summary><strong>🖥️ {{ hostname }} (My Device)</strong></summary>
            <p><strong>Status: </strong> 🟢 Connected</p>
            <p><strong>IP:</strong> {{ local_ip }}</p>
            <p><strong>ID:</strong> {{ local_id }}</p>
          </details>

          {% for peer in peers %}
          <details class="list-item" id="peer-{{ peer.id }}">
            <summary><strong>🖥️ {{ peer.hostname }}</strong></summary>
            <p><strong>Status: </strong> 🟢 Connected</p>
            <p><strong>IP:</strong> {{ peer.addr }}</p>
            <p><strong>ID:</strong> {{ peer.id }}</p>
          </details>
          {% endfor %}
        </div>
      </div>

      <div class="main-container" id="dirs-container">
        <div class="main-container-header" id="dirs-header">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-folder-sync-icon lucide-folder-sync"
            >
              <path
                d="M9 20H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H20a2 2 0 0 1 2 2v.5"
              />
              <path d="M12 10v4h4" />
              <path d="m12 14 1.535-1.605a5 5 0 0 1 8 1.5" />
              <path d="M22 22v-4h-4" />
              <path d="m22 18-1.535 1.605a5 5 0 0 1-8-1.5" />
            </svg>
            <u>Directories</u>
          </span>
          <button
            class="btn btn-success"
            onclick="document.getElementById('add-dir-dialog').showModal()"
          >
            + Add
          </button>

          <dialog id="add-dir-dialog">
            <h3>Add Sync Directory</h3>

            <form id="add-dir-form">
              <input
                type="text"
                name="dir-name"
                placeholder="Directory Name"
                minlength="1"
                autocomplete="off"
                required
              />
              <div>
                <button class="btn btn-success" type="submit">Add</button>
                <button class="btn" onclick="this.closest('dialog').close()">
                  Cancel
                </button>
              </div>
            </form>
          </dialog>
        </div>

        <div class="item-list" id="dir-list">
          {% for dir in dirs %}
          <details class="list-item" id="dir-{{dir.name}}">
            <summary>
              <strong>📂 {{dir.name}}</strong><small>Up to Date</small>
            </summary>

            <div class="dir-actions">
              <button class="btn remove-dir-btn">Stop Syncing</button>
            </div>
          </details>
          {% endfor %}
        </div>
      </div>
    </main>

    <footer>© 2025 synche</footer>

    <script src="/static/main.js" defer></script>
    <script src="/static/sse.js" defer></script>
  </body>
</html>
